{
  "presets": [
    ["es2015", { "module": false }],
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy"
      ]
    }
  }
}